.Confirmation, .Error {
  margin: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.Confirmation p, .Error p {
  margin: 10px 0;
}

.Confirmation .content, .Error .content {
  max-width: 500px;
  margin: 10px auto;
}

.Confirmation .buttons, .Error .buttons {
  margin-top: 20px;
  text-align: right;
}
